node_modules
_IGNORE_EDPREG4mlg
.node-persist
.env
test.js
test_cron.js
testharian.js
EDPREG4mlg.data.json
filewt
# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
